/* setting my css roots  */

body {
  font-family: 'Inter', sans-serif;
}
.under-line-cust {
  border-bottom: 4px solid var(--primary);
  width: 72px;
  margin: auto;
}

:root {
  --primary: #30c0d0;
  --secondary: #606060;
  --third-party: #131313;
}

/* navbar  */
.cust-ul {
  width: 100%;
  justify-content: space-around;
  margin-left: 100px;
}

.cust-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--secondary);
  padding-bottom: 0.5rem;
}
.cust-link :hover {
  color: var(--primary) !important;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--primary) !important;
  border-bottom: 2px solid var(--primary) !important;
  font-size: 20px;
}

.cust-link:active {
  color: var(--primary) !important;
  color: var(--primary) !important;
  border-bottom: 2px solid var(--primary) !important;
  font-size: 20px;
}

.language-icon {
  border-bottom: none !important;
  font-size: 12px !important;
}
/* Ending Navbar  */

/* Home Section  */
.Home {
  padding-top: 100px;
  background-color: #f4fcfc;
  /* background-image: url('/assets/Ellipse\ 36.png');
  background-repeat: no-repeat; */
}
.Home-img {
  width: 100%;
  /* background-image: url('/assets/Ellipse\ 36.png'); */
  /* background-repeat: no-repeat; */
}
.Egy {
  color: var(--primary);
}
.system {
  color: var(--secondary);
}
.Home-left p {
  font-size: 20px;
}
.contactUs-btn {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Ending Home Section  */

/* our statistics Section  */

.our-statistics {
  width: 100%;
}
.statistics-up,
.statistics-down {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 846px;
  margin: auto;
}
.statistics-up p {
  width: 72px;
  margin: auto;
  border-bottom: 4px solid var(--primary);
}
.statistics-down h4 {
  color: var(--primary);
  font-size: 32px;
}
.statistics-down p {
  font-size: 18px;
}

/* services */
.services {
  width: 100%;
}
.service-up {
  width: 332px;
  margin: auto;
  padding-bottom: 20px;
}
.service-up .p-up {
  text-align: start;
  font-size: 16px;
  color: var(--primary);
}

.services.service-up h4 {
  color: var(--third-party);
  font-size: 32px;
}
.service-up .border-cust {
  width: 72px;
  margin: auto;
  border-bottom: 4px solid var(--primary);
}

.service-down {
  background-image: url('/assets/Ellipse\ 53.png');
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.service-down .service-down-left {
  width: 65%;
  display: grid;
  grid-template-columns: auto auto;
}
.service-down .service-down-left .service-item {
  width: 368px;
  height: 314px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px #000000;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.service-down .service-down-left .service-item:hover {
  background-color: var(--primary);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.service-down .service-down-left .service-item button {
  width: 108px;
  height: 44px;
  border: 1px solid var(--primary);
  padding: 0px, 16px, 0px, 16px;
  gap: 8px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  float: right;
  margin-top: 1.5rem;
}
.service-down .service-down-left .service-item button:hover {
  background-color: var(--secondary);
  border: 1px solid var(--third-party);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: var(--primary);
}

.service-item-cust {
  height: 347px !important;
  margin-bottom: 1.5rem !important;
}

.border-p {
  width: 86px;
  border-bottom: 3px solid var(--primary);
}
.Home .owl-nav {
  position: absolute;
  left: 47%;
}

/* solutions  */
.solutions {
  background-image: url('/assets/blobanimation.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.solution-item {
  text-align: center;
  width: 375px;
  height: 413px;
}
.solution-btn {
  border: none;
  padding: 16px, 16px, 16px, 16px;
  float: right;
  background-color: white;
}

/* team */
.Team {
  background-color: rgba(48, 192, 208, 0.05);
}
.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-item > p {
  margin: 0;
}
.team-img {
  width: 200px;
  height: 200px;
}
.team-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.Team .team-slider .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Team .team-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  text-align: center;
}

.Team .team-slider .owl-dots button {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 3px 0;
  border-radius: 50%;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  border: 1px solid var(--primary);
  margin-left: 5px;
}

.Team .team-slider .owl-dots button.active {
  background-color: var(--primary);
  opacity: 1;
}

/* choose  */
.choose {
  margin-top: 6rem;
}
.choose-bottom {
  height: 483px;
}
.choose-item-img {
  width: 25px;
  height: 25px;
}
.choose-item-img img {
  width: 100%;
  height: 100%;
}
