@media only screen and (max-width: 1400px) {
  .service-down {
    flex-direction: column;
  }
  .service-down-left {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1025px) {
  .cust-link {
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 1000px) {
  /* navbar */
  .cust-ul {
    margin-left: 0;
  }
  .cust-link {
    font-size: 18px;
  }
  /* HOME section  */
  .Home-up {
    flex-wrap: wrap;
  }

  .Home-up img {
    width: 90%;
  }
  /* Our Statistics */
  .statistics-up,
  .statistics-down {
    width: 100%;
  }
  /* services */
  .service-down-left {
    grid-template-columns: auto !important;
  }
  .service-item {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  /* Our Statistics */
  .statistics-down {
    flex-direction: column;
  }
}

@media only screen and (max-width: 280px) {
  .logo-img {
    width: 160px;
  }
}
